.category-selection {
  text-align: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.category {
  cursor: pointer;
  text-align: center;
}

.category-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

.category-container:hover {
  transform: translateY(-5px);
}

.category img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.category p {
  margin-top: 10px;
}
