.category-selection {
  padding: 20px;
  text-align: left; /* Align the main container to the left */
  margin: 0 auto; /* Ensure the container itself isn't centered */
  max-width: 1200px; /* Limit the maximum width for better layout control */
}

.category-wrapper {
  margin-bottom: 20px;
}

.category-heading {
  cursor: pointer;
  font-size: 18px;
  text-align: left; /* Align category headings to the left */
  margin-bottom: 5px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s;
}

.category-heading:hover {
  transform: translateY(-2px);
}

.category-frame {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block; /* Adjust to the content width */
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start; /* Align categories to the left */
}

.category {
  cursor: pointer;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
  border: 1px solid #ddd;
}

.category:hover {
  transform: translateY(-5px);
}

.category img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.category p {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .categories {
    flex-direction: column;
  }
}
